
/* ===========================
   RESET
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   BODY
=========================== */

body {

    font-family: "Luckiest Guy", cursive;

    background-image: url("assets/images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color:white;

    text-shadow:

        1px 1px 0 #000,

        1px 1px 1px rgba(0,0,0,.6);

    letter-spacing:2px;
    padding: 30px;
}

/* ===========================
   HEADER
=========================== */

.header {

    text-align: center;
    margin-bottom: 30px;

}

.header h1{

    font-size:42px;
    margin-bottom:8px;

}

.header p{

    color:#cccccc;

}

/* ===========================
   CONTENEDOR
=========================== */

.contenedor{

    max-width:1500px;
    margin:auto;

}

/* ===========================
   PROGRESO
=========================== */

.progreso{

    margin-bottom:35px;

}

.texto-progreso{

    display:flex;
    justify-content:space-between;
    font-weight:bold;
    margin-bottom:8px;

}

.barra{

    height:14px;
    background:#444;
    border-radius:20px;
    overflow:hidden;

}

.barra-progreso{

    width:0%;
    height:100%;
    background:#4CAF50;

}

/* ===========================
   ÁLBUM
=========================== */

.album{

    display:grid;

    gap:10px;

    justify-content:center;

    position:relative;

    left:-60px;

}
/*==============================
    FILAS
==============================*/

.fila{

    display:grid;

    grid-template-columns:100px repeat(var(--columnas-categorias),140px);

    gap:10px;

    align-items:center;

}

/*==============================
    CELDAS
==============================*/

.celda{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:60px;

}

/*==============================
    TITULOS
==============================*/

.titulo{

    font-weight:bold;

    font-size:18px;

}

/*==============================
    FAMILIAS
==============================*/

.familia{

    justify-content:flex-end;

    text-align:right;

    padding-right:10px;

    font-weight:bold;

    font-size:18px;

}



/*==============================
    TARJETAS VACÍAS
==============================*/

.tarjeta{

    position: relative;

    width:140px;

    height:140px;

    border:2px solid #555;

    border-radius:12px;

    background:#2c2c2c;

    overflow:hidden;

    transition:
    border-color .1s,
    box-shadow .1s,
    transform .1s;

}


.contenido-tarjeta{
    position:relative;

    z-index:10;
    width:100%;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.tarjeta.vacia{

    border-style:dashed;

    opacity:.5;

}




/*==============================
    iMAGEN DEL GUSTAMBO
==============================*/
.imagen-gustambito{

    width:100%;

    height:100%;

    object-fit:contain;

    display:block;

    filter:grayscale(100%) brightness(.75);

    transition:filter .25s ease;

    user-select:none;

    pointer-events:none;

    -webkit-user-drag:none;
-webkit-user-select:none;

}


.tarjeta.activa{

    border:4px solid #3cff00;

    box-shadow:
        0 0 10px #3cff00,
        0 0 20px rgba(60,255,0,.7);

}

.tarjeta.coronada{

    border:4px solid gold;

    box-shadow:
        0 0 10px gold,
        0 0 20px rgba(255,215,0,.7);

}
.tarjeta.activa .imagen-gustambito{

    filter:none;

}

.tarjeta.coronada .imagen-gustambito{

    filter:none;

}


.corona{

    position: absolute;

    top: 5px;

    left: 60%;

    transform: translateX(-50%);

    width: 30px;

    display: none;

    pointer-events: none;

    z-index: 20;

    filter:
        drop-shadow(0 0 2px #000)
        drop-shadow(2px 2px 0 #000)
        drop-shadow(-2px -2px 0 #000)
        drop-shadow(2px -2px 0 #000)
        drop-shadow(-2px 2px 0 #000);

}

.tarjeta.coronada .corona{

    display:block;

}


/*==============================
    FONDOS POR CATEGORÍA
==============================*/

.tarjeta.categoria-base{

    background:#2f2f2f;

}

.tarjeta.categoria-oro{

    background:linear-gradient(180deg,#5c4500,#9c7a1f);

}

.tarjeta.categoria-gominola{

    background:linear-gradient(180deg,#ff5d5d,#04d342);

}

.tarjeta.categoria-galaxy{

    background:linear-gradient(
        180deg,
        #0a1638,
        #3a257c
    );

}

.tarjeta.categoria-holografico{

    background:linear-gradient(
        145deg,
        #4b9dac,
        #4ba58d,
        #b3923f,
        #b64d8c,
        #6d45b2
    );

}



/*==============================
    BLOQUEAR SELECCIÓN
==============================*/

html,
body{

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}





.tarjeta.categoria-holografico::after{

    content:"";

    position:absolute;

    top:-50%;
    left:-60%;

    width:40%;
    height:200%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.28),
        transparent
    );

    transform:rotate(20deg);

    animation:brillo-holo 1.8s linear 3;

    animation-play-state:paused;

    pointer-events:none;

}

@keyframes brillo-holo{

    0%{
        left:-60%;
    }

    100%{
        left:120%;
    }

}


.estrellas-galaxy{

    position:absolute;

    inset:0;

    pointer-events:none;

    z-index:3;

}


.estrella{

    position:absolute;

    width:auto;
    height:auto;

    color:#ffffff;

    font-size:6px;

    text-shadow:
        0 0 3px #ffffff,
        0 0 6px #7dd3ff,
        0 0 10px #7dd3ff;

        animation:parpadeo .8s ease-in-out 3;

    animation-play-state:paused;

}

.estrella::before{

    content:"✦";

}


.estrella1{

    top:30px;
    left:25px;

}

.estrella2{

    top:18px;
    right:18px;
 animation-delay:1s;
}

.estrella3{

    bottom:18px;
    left:22px;
 animation-delay:2.8s;
}

.estrella4{

    bottom:15px;
    right:15px;
 animation-delay:3.2s;
}

.estrella5{

    top:50%;
    right:8px;
  animation-delay:4.6s;
}


@keyframes parpadeo{

    0%,100%{

        opacity:.2;

        transform:scale(.8);

    }

    50%{

        opacity:1;

        transform:scale(1.3);

    }

}



.azucar{

    position: absolute;
    inset: 0;

    pointer-events: none;

  

    z-index:5;



}


.cristal{

    position:absolute;

    width: 2px;
    height: 2px;

    border-radius:50%;

    background:#ffffff;

    opacity:.35;

    box-shadow:
        0 0 3px rgba(255, 255, 255, 0.642);

    animation:brilloAzucar .8s ease-in-out 3;

animation-play-state:paused;

}

@keyframes brilloAzucar{

    0%,100%{

        opacity:.2;

    }

    50%{

        opacity:1;

    }

}

.tarjeta.animando .estrella{

    animation-play-state:running;

}

.tarjeta.animando .cristal{

    animation-play-state:running;

}

.tarjeta.animando.categoria-holografico::after{

    animation-play-state:running;

}



.tarjeta.categoria-cubo{

    background:
        linear-gradient(rgba(35,0,60,.35), rgba(35,0,60,.35)),
        url("assets/images/cubo/fondocubo.png");

    background-position:center;

    background-size: 220%;

    background-repeat:no-repeat;

    

   // box-shadow:0 0 8px rgba(177,92,255,.35);

}


@keyframes moverCubo{
    from{
        background-position:center top;
    }
    to{
        background-position:center bottom;
    }
}

.tarjeta.activa.categoria-cubo{
    animation:moverCubo 15s linear infinite;
}